AZURE_OPENAI_ENDPOINT=PLEASE-SET-ME
AZURE_OPENAI_API_KEY=PLEASE-SET-ME
AZURE_API_VERSION=PLEASE-SET-ME
DEPLOYMENT_NAME=PLEASE-SET-ME
ATTRACTIONS_MCP_URL=http://127.0.0.1:8008/mcp/
WEATHER_MCP_URL=http://127.0.0.1:8009/mcp/
MACROS_MCP_URL=http://127.0.0.1:8010/mcp/
NUTRITION_PLAN_MCP_URL=http://127.0.0.1:8011/mcp/
RECIPEMAKER_MCP_URL=http://127.0.0.1:8123/mcp/
TRIVIA_MCP_URL=http://127.0.0.1:8012/mcp/